.information {

    position: absolute;
    left: 10%;
    top: 5%;
    font-size: 40px;
    color: white;
    font-family: $chakra-font;
    transition: 0.8s;
    

    .dot {
        font-size: 240px;
        color: #05d1d1;
        animation: dotAnimation 2s ease-in-out infinite;
    }

    .name {
        font-weight: bold;
    }

    @media (max-height: 500px) {
        top: 0%;
        font-size: 80px;
    }

}

