.projects {

    .arrow {

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 20;
        color: #05d1d1;
        font-size: 4rem;
        transition: .2s;
        
        cursor: pointer;

        // &-active {
        //     z-index: 10000;
        //     color: #05d1d1;

            &:active {
                color: white;
            }
        

    }

    .arrow-left {
        left: 2%;
    }

    .arrow-right {
        right: 2%; 
    }

}